@import "tailwindcss";

:root {
  --background: black;
  --foreground: #171717;
  --primary: #ef4b6e;
  --secondary: #000000
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-primary {
  color: var(--primary);
}

.text-secondary{
  color: var(--secondary);
}